* {
  box-sizing: border-box;
}

.featured-products {
  background-color: #111827;
  margin-top: -2em;
  padding: 0 3rem;
}
.featured-products h1 {
  color: white;
}
.featured_all_button {
  display: flex;
  justify-content: space-between;
}
.featured_all_button button {
  background: transparent;
  color: #fbbf24;
  border: 1px solid rgba(251, 191, 36, 0.4);

  padding: 10px 24px;
  border-radius: 999px;

  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 15px;
  font-weight: 500;
  cursor: pointer;

  transition: all 0.3s ease;
}

.featured_all_button button span {
  font-size: 20px;
  font-weight: 700;
}

.featured_all_button button:hover {
  background: rgba(251, 191, 36, 0.08);
  border-color: #fbbf24;
}
.featured_all_button h2 {
  color: white;
  font-size: 1.8rem;
}

.products {
  display: flex;
  gap: 20px;
}
.products button {
  padding: 10px;
  border: 1px solid blue;
  border-radius: 1rem;
  font-size: 1rem;
}
.products button:hover {
  background-color: #fbbf24;
  color: black;
}
